<!DOCTYPE html>
<html>
<head>
  <title>Support Portal</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Support Ticket Portal</h1>
  <a href="/create-ticket">Create Ticket</a> |
  <a href="/tickets">View Tickets</a>
</body>
</html>
